<div class='container'>
<h1>Signup!</h1>
<img id='signup-logo' src="https://trello-attachments.s3.amazonaws.com/5a00dc322b3c3a3c721a6912/5a00e674cdb313f96d9cdb2c/539b280fb58aee03ce2fe36c62fdae39/Logaster-13-vk-sharedImage-1000px.png">

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>
</div>