<% if User.find(current_user.id).role == "Lender" %>
	<h1>Sorry you can't request loans with this account</h1>
<% else %>
	<%= render 'form', loan: @loan %>
<% end %>

<p class="back"><%= link_to 'Back', loans_path %></p>
