// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1#signup {
	text-align:center;
	color: blue;
}

.container {
	background-color: #FFA100;
}

form {
	padding-bottom: 0;
	margin-bottom: 0;
}

input, select {
	
}

#signup-logo {
	width: 200px;
	display: block;
    margin-left: auto;
    margin-right: auto
}

.user-img {
	width: 50%;
	margin: 10% auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.uname {
	text-align: center;
}

.to-loan {
	margin: 10% auto 10px;
	margin-bottom: 0;
    display: block;
}

button.btn {
	background-color: white;
	display: block;
	margin-bottom: 20px;
}

span.badge {
	color: #FFA100;
	background-color: blue;
}